<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/getCoupon" method="POST" id="form-container">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="name">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="email@domain.com">

  {{!-- {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}} --}}

  <button type="submit">Get your coupon!</button>

    <style>
        #map {
            height: 40vh;
        }
    </style>

<section class="row">
  <div id="map" class="col-lg-4">
  </div>

  <div class="col-lg-4">
    <ul class="nav nav-pills nav-stacked scroll-store">
        {{#each store}}
          <li class="nav-item">
            <h4>{{storeName}}</h4>
            <p>{{address}}, {{number}}</p>
            <p>{{neighborhood}}</p>
            <p>{{city}}</p>
            <hr class="my-4 event-break">
            </p>        
          </li>
        {{/each}}
      </ul>
  </div>
</section>
  
<!--  Axios CDN  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--  Google Maps Key  -->
  <script
    <script src="https://maps.googleapis.com/maps/api/js?key={{GMAPS}}&libraries=places">  </script>
  </script>
<!--  Connect main.js  -->
  <script type="text/javascript" src="/javascripts/map.js"></script>